/* portfolio */

$navGutterRight: 14px;

//   Layout
//-------------
body {
	background: #2b2b2b;
}

//   Header
//-------------
.header {
	padding: 0;
}

@media (min-width: 768px) {

	.header {
		position: fixed;
		height: 100%;
		min-height: 100%;
		background: #1f1f1f inline-image('gradient.jpg') repeat-y top right;
		padding-right: $navGutterRight;
	}
}

//   Navigation
//-----------------
@media (min-width: 768px) {

	.header {
		
		.navbar {
			background-color: transparent;
			border: 0 none;

			.navbar-header {
				float: none;

				.navbar-brand {
					float: right;
					display: block;
					margin-right: $navGutterRight;
					font-weight: bold;
					letter-spacing: 1px;
				}
			}

			.navbar-collapse {

				.nav {
					float: right;
					clear: both;

					li {
						float: none;
					}
				}
			}
		}
	}
}