/* portfolio */

$navGutterRight: 14px;
$colorBlue: #428bca;
$colorWhite: #ffffff;
$colorDarkGray: #1f1f1f;
$colorLightGray: #2b2b2b;
$colorLightBlack: #080808;
$colorYellow: #fdff51;

//   Layout
//-------------
body {
	background: $colorLightGray;
	color: $colorWhite;
}

//   Header
//-------------
.header {
	padding: 0;
	background-image: url('images/texture-wood-horizontal.jpg');
	background-repeat: repeat;
	background-position: top left;
}

@media (min-width: 768px) {

	.header {
		position: fixed;
		height: 100%;
		min-height: 100%;
		background: $colorDarkGray inline-image('gradient.jpg') repeat-y top right;
		padding-right: $navGutterRight;

		background-image: inline-image('gradient.jpg'), url('images/texture-wood-verticle.jpg');
		background-repeat: repeat-y, repeat;
		background-position: top right, top right;
	}
}

//   Navigation
//-----------------
.header {

	.navbar {

		.navbar-header {
			background: $colorDarkGray url('images/texture-wood-horizontal.jpg') repeat top left;

			.navbar-brand {
				font-weight: bold;
				letter-spacing: 1px;
				color: black;

				background: url('images/logo-horizontal.png') no-repeat top right;
				min-height: 72px;
				min-width: 220px;
				position: relative;
				z-index: 1;
				margin-bottom: -18px;

				padding-left: 40px;
				line-height: 40px;
			}

			.navbar-toggle {
				background-color: $colorLightBlack;
			}
		}

		.navbar-collapse {
			background-color: $colorDarkGray;
		}
	}
}

@media (min-width: 768px) {

	.header {
		
		.navbar {
			margin-top: 8px;
			background-color: transparent;
			border: 0 none;

			.navbar-header {
				background: none;
				float: none;

				.navbar-brand {
					float: right;
					display: block;
					margin-right: $navGutterRight;
					background: url('images/logo-vertical.png') no-repeat top right;
					min-height: 93px;
					min-width: 220px;
					margin-right: -22px;
					color: black;
					line-height: 40px;
					padding-left: 22px;
					margin-bottom: 0;
				}
			}

			.navbar-collapse {

				background-color: transparent;

				.nav {
					float: right;
					clear: both;

					li {
						float: none;
						margin-top: 12px;

						a {
							padding-top: 8px;
							padding-bottom: 8px;
							padding-left: 76px;
							background-color: $colorYellow;
							text-align: right;
							color: black;
							font-weight: bold;
						}

						&.active {

							a {
								background-color: $colorLightBlack;
								color: white;
							}
						}
					}
				}
			}
		}
	}
}

//   Content
//--------------
@media (min-width: 768px) {

	.content {
		padding-right: 30px;

		div.row {
			max-width: 582px;
			padding: 5px 16px 26px 10px;
			background-color: $colorDarkGray;
			margin: 15px 0;
		}
		
	}
}

//   Content->Contact
//-----------------------
#contact {

}