/* portfolio */

$colorBlack: #000000;
$colorBlackLight: #080808;
$colorBlue: #428bca;
$colorGrayDark: #1f1f1f;
$colorGrayLight: #2b2b2b;
$colorWhite: #ffffff;
$colorYellow: #fdff51;

//   Layout
//-------------
body {
	background: $colorGrayLight;
	color: $colorWhite;
}

//   Header
//-------------
.header {
	background: url('images/texture-wood-horizontal.jpg') repeat top left;
	padding: 0;
}

@media (min-width: $screen-sm-min) {

	.header {
		background: $colorGrayDark inline-image('gradient.jpg') repeat-y top right;
		background-image: inline-image('gradient.jpg'), url('images/texture-wood-verticle.jpg');
		background-position: top right, top right;
		background-repeat: repeat-y, repeat;
		height: 100%;
		min-height: 100%;
		padding-right: 14px;
		position: fixed;
	}
}

//   Navigation
//-----------------
.header {

	.navbar {

		.navbar-header {
			background: $colorGrayDark url('images/texture-wood-horizontal.jpg') repeat top left;

			.navbar-brand {
				background: url('images/logo-horizontal.png') no-repeat top right;
				color: $colorBlack;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 40px;
				margin-bottom: -18px;
				margin-left: -3px;
				min-height: 72px;
				min-width: 220px;
				padding-left: 40px;
				position: relative;
				z-index: 1;
			}

			.navbar-toggle {
				background-color: $colorBlackLight;
			}
		}

		.navbar-collapse {
			background-color: $colorGrayDark;
		}
	}
}

@media (min-width: $screen-sm-min) {

	.header {
		
		.navbar {
			background-color: transparent;
			border: 0 none;
			margin-top: 7px;

			.navbar-header {
				background: none;
				float: none;

				.navbar-brand {
					background: url('images/logo-vertical.png') no-repeat top right;
					color: $colorBlack;
					display: block;
					float: right;
					line-height: 40px;
					margin-bottom: 0;
					min-height: 93px;
					min-width: 220px;
					margin-right: -23px;
					padding-left: 23px;
				}
			}

			.navbar-collapse {

				background-color: transparent;

				.nav {
					clear: both;
					float: right;

					li {
						float: none;
						margin-top: 12px;

						a {
							background-color: $colorYellow;
							color: $colorBlack;
							font-weight: bold;
							letter-spacing: 0.5px;
							padding-top: 8px;
							padding-bottom: 8px;
							padding-left: 76px;
							text-align: right;
						}

						&.active {

							a {
								background-color: $colorBlackLight;
								color: white;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
}

//   Content
//--------------
.content {
	
	.block {
		background-color: $colorGrayDark;
	}

	.row {
		padding: ($grid-gutter-width / 2);
		margin-bottom: ($grid-gutter-width / 2);
	}

	a {
		color: $colorWhite;
		text-decoration: underline;
	}
}

@media (min-width: $screen-xs-min) {
	
	.content {
		
		.block {
			margin: 0 0 ($grid-gutter-width / 2);
		}
	}
}

@media (min-width: $screen-sm-min) {

	.content {
		padding-right: $grid-gutter-width;
		margin: 0 0 ($grid-gutter-width / 2);

		.block {
			margin: ($grid-gutter-width / 2) 0;
			max-width: 620px;
			padding: ($grid-gutter-width / 2);
		}
	}
}

//   Content->About
//---------------------
#about {
	
	.content {

		h3 {
			color: $colorYellow;
			font-size: $font-size-large;
			letter-spacing: 0.5px;
			margin-top: 0;
		}

		img {
			margin: 0 auto;
			padding-bottom: ($grid-gutter-width / 2);
		}
	}
}

@media (min-width: $screen-xs-min) {
	
	#about {

		.content {

			img {
				float: left;
				margin: 0;
				padding-bottom: 0;
				padding-right: ($grid-gutter-width / 2);
			}
		}
	}
}

//   Content->Contact
//-----------------------
#contact {
	
	.captcha {
		position: relative;

		.img-container {
			background: $colorGrayDark;
			border-bottom: 1px solid $colorGrayDark;
			border-left: ($grid-gutter-width / 2) solid $colorGrayDark;
			min-height: 35px;
			min-width: 114px;
			position: absolute;
			right: ($grid-gutter-width / 2);
			z-index: 1;
		}
	}

	.info {
		position: relative;

		button {
			background-color: $colorYellow;
			border: 0 none;
			border-radius: 0;
			clear: both;
			color: $colorBlack;
			font-weight: bold;
			width: 99px;
		}

		div {
			clear: both;
			float: left;
			padding-left: 0;
		}
	}

	ul.errors {
		background-color: $colorBlack;
		padding: ($grid-gutter-width / 2);

		h3 {
			font-size: $font-size-large;
			margin-top: 0;
		}

		li {
			list-style-position: inside;
		}
	}

	.form-group.first {
		clear: left;
	}
}

@media (min-width: $screen-xs-min) {
	
	#contact {

		.info {

			button {
				position: absolute;
				right: ($grid-gutter-width / 2);
				z-index: 1;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	
	#contact {

		.info {
			padding-top: 0;

			div {
				padding-left: 5px;
			}
		}
	}
}

//   Content->Work
//--------------------
#work {
	
	.block {

		h3 { 
			color: $colorYellow;
			font-size: $font-size-large;
			font-weight: normal;
			letter-spacing: 0.5px;
			margin-top: 0;
			padding-left: 2px;
		}

		img {
			border: 1px solid $colorBlackLight;
			margin: 0 auto ($line-height-computed / 2);
		}

		p, ul {
			padding-left: 2px;

			em {
				color: $colorYellow;
				font-style: normal;
			}
		}

		ul {

			li {
				list-style-position: inside;
				margin-left: ($grid-gutter-width / 2);
			}
		}
	}
}